html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 50px !important;
}
.body-content {
  padding-left: 15px;
  padding-right: 20px;
  width: auto;
  padding-top: 15px;
  margin-left: 50px;
}
.navbar-header {
  float: none;
  height: 50px;
}
.navbar-header .btn-group {
  margin: 7px 5px 0 5px;
}
.navbar-brand img {
  float: left;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
.navbar-brand span {
  float: left;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  /*background-color: #f5f5f5;*/
}
.footer > .container {
  height: 100%;
  text-align: center;
}
.footer > .container p {
  margin: 15px;
  font-size: 18px;
}
.login-header {
  padding-top: 30px;
  height: 120px;
}
.login-box .input-prepend {
  margin-bottom: 10px;
}
.login-box .btn {
  margin-top: 15px;
  width: 100%;
}
div.center,
p.center,
img.center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
  display: block;
  text-align: center;
}
.main-menu {
  box-shadow: 0 0 10px #bdbdbd;
  padding-top: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  -moz-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  -moz-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.main-menu:hover,
nav.main-menu.expanded {
  width: 200px;
  overflow: visible;
}
.main-menu > ul {
  margin: 7px 0;
}
.main-menu li {
  width: 200px;
}
.main-menu li > a {
  display: table;
  border-collapse: collapse;
  -webkit-transform: translateZ(5) scale(1, 1);
  -moz-transform: translateZ(5) scale(1, 1);
  -ms-transform: translateZ(5) scale(1, 1);
  -o-transform: translateZ(5) scale(1, 1);
  transform: translateZ(5) scale(1, 1);
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
.menu-icon {
  position: relative;
  display: table-cell;
  width: 50px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.main-menu .menu-text {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
}
.box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.box-inner {
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
  box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.box-header {
  border: none;
  padding-top: 5px;
  border-bottom: 1px solid #DEDEDE;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 35px;
  min-height: 35px !important;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
}
.box-header h2 {
  font-size: 15px;
  width: auto;
  clear: none;
  float: left;
  line-height: 25px;
  white-space: nowrap;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.box-header h3 {
  font-size: 13px;
  width: auto;
  clear: none;
  float: left;
  line-height: 25px;
  white-space: nowrap;
}
.box-header h2 > i {
  margin-top: 1px;
}
.box-icon a {
  clear: none;
  float: left;
  margin: 0 2px;
  height: 20px;
  width: 5px;
  margin-top: 1px;
}
.box-icon a i {
  margin-left: -6px;
  top: -5px;
}
.box-content {
  padding: 10px;
}
.dropdown-menu .divider {
  margin: 5px 0;
}
