@{
    ViewData["Title"] = "Welcome";
}
<div class="jumbotron">
    <h1>
        Information Display
        <br>
        <small>Displays information on any dispalay.</small>
    </h1>
    <p>Please login with your user account.</p>
    <p><a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" role="button">Login</a></p>
    <p>
        Inform........u :)
    </p>
    <p>
        <b>Inform.........</b>
    </p>
</div>
